{
  "openapi": "3.1.0",
  "info": {
    "title": "DexBuilder Trading API",
    "version": "1.0.0",
    "description": "DexBuilder API v1.0.0 provides comprehensive on-chain perpetual contract trading capabilities, including market data, account and position management, order management, and trading history.",
    "contact": {
      "email": "contact@dexbuilder.com"
    }
  },
  "servers": [
    {
      "url": "https://api.dexbuilder.com/api/v1",
      "description": "DexBuilder production Trading API"
    }
  ],
  "tags": [
    {
      "name": "Markets",
      "description": "Public perpetual market data, indexes, funding rates, and statistics."
    },
    {
      "name": "Account",
      "description": "Account state, account ledger, and trading fees."
    },
    {
      "name": "Positions",
      "description": "Positions, leverage, margin modes, and position modes."
    },
    {
      "name": "Orders",
      "description": "Order placement, query, amendment, and cancellation."
    },
    {
      "name": "History",
      "description": "Personal fills, position closes, liquidations, and ADL history."
    }
  ],
  "security": [],
  "paths": {
    "/dex_futures/{settle}/contracts": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "listDEXFuturesContracts",
        "summary": "Query all Perp contracts",
        "x-mint": {
          "href": "/api-reference/query-all-perp-contracts"
        },
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records returned in a single list"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "List offset, starting from 0"
          }
        ],
        "responses": {
          "200": {
            "description": "List retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contract"
                  }
                },
                "example": [
                  {
                    "name": "BTC_USDT",
                    "type": "direct",
                    "quanto_multiplier": "0.0001",
                    "ref_discount_rate": "0",
                    "order_price_deviate": "0.5",
                    "maintenance_rate": "0.005",
                    "mark_type": "index",
                    "last_price": "38026",
                    "mark_price": "37985.6",
                    "index_price": "37954.92",
                    "funding_rate_indicative": "0.000219",
                    "mark_price_round": "0.01",
                    "funding_offset": 0,
                    "in_delisting": false,
                    "risk_limit_base": "1000000",
                    "interest_rate": "0.0003",
                    "order_price_round": "0.1",
                    "order_size_min": "1",
                    "ref_rebate_rate": "0.2",
                    "funding_interval": 28800,
                    "risk_limit_step": "1000000",
                    "leverage_min": "1",
                    "leverage_max": "100",
                    "risk_limit_max": "8000000",
                    "maker_fee_rate": "-0.00025",
                    "taker_fee_rate": "0.00075",
                    "funding_rate": "0.002053",
                    "order_size_max": "1000000",
                    "funding_next_apply": 1610035200,
                    "short_users": 977,
                    "config_change_time": 1609899548,
                    "trade_size": "28530850594",
                    "position_size": "5223816",
                    "long_users": 455,
                    "funding_impact_value": "60000",
                    "orders_limit": 50,
                    "trade_id": 10851092,
                    "orderbook_id": 2129638396,
                    "enable_bonus": true,
                    "enable_credit": true,
                    "create_time": 1669688556,
                    "funding_cap_ratio": "0.75",
                    "status": "trading",
                    "launch_time": 1609899548,
                    "delisting_time": 1609899548,
                    "delisted_time": 1609899548,
                    "market_order_slip_ratio": "0.05",
                    "market_order_size_max": "0",
                    "funding_rate_limit": "0.003"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/contracts/{contract}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "getDEXFuturesContract",
        "summary": "Query single contract information",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                },
                "example": {
                  "name": "BTC_USDT",
                  "type": "direct",
                  "quanto_multiplier": "0.0001",
                  "ref_discount_rate": "0",
                  "order_price_deviate": "0.5",
                  "maintenance_rate": "0.005",
                  "mark_type": "index",
                  "last_price": "38026",
                  "mark_price": "37985.6",
                  "index_price": "37954.92",
                  "funding_rate_indicative": "0.000219",
                  "mark_price_round": "0.01",
                  "funding_offset": 0,
                  "in_delisting": false,
                  "risk_limit_base": "1000000",
                  "interest_rate": "0.0003",
                  "order_price_round": "0.1",
                  "order_size_min": "1",
                  "ref_rebate_rate": "0.2",
                  "funding_interval": 28800,
                  "risk_limit_step": "1000000",
                  "leverage_min": "1",
                  "leverage_max": "100",
                  "risk_limit_max": "8000000",
                  "maker_fee_rate": "-0.00025",
                  "taker_fee_rate": "0.00075",
                  "funding_rate": "0.002053",
                  "order_size_max": "1000000",
                  "funding_next_apply": 1610035200,
                  "short_users": 977,
                  "config_change_time": 1609899548,
                  "trade_size": "28530850594",
                  "position_size": "5223816",
                  "long_users": 455,
                  "funding_impact_value": "60000",
                  "orders_limit": 50,
                  "trade_id": 10851092,
                  "orderbook_id": 2129638396,
                  "enable_bonus": true,
                  "enable_credit": true,
                  "create_time": 1669688556,
                  "funding_cap_ratio": "0.75",
                  "status": "trading",
                  "launch_time": 1609899548,
                  "delisting_time": 1609899548,
                  "delisted_time": 1609899548,
                  "market_order_slip_ratio": "0.05",
                  "market_order_size_max": "0",
                  "funding_rate_limit": "0.003"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/order_book": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "listDEXFuturesOrderBook",
        "summary": "Query Perp market depth information",
        "description": "Bids will be sorted by price from high to low, while asks sorted reversely",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Price precision for depth aggregation, 0 means no aggregation, defaults to 0 if not specified"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of depth levels"
          },
          {
            "name": "with_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to return depth update ID. This ID increments by 1 each time the depth changes"
          }
        ],
        "responses": {
          "200": {
            "description": "Depth query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Order Book ID. Increases by 1 on every order book change. Set with_id=true to include this field in response"
                    },
                    "current": {
                      "type": "number",
                      "format": "double",
                      "description": "Response data generation timestamp"
                    },
                    "update": {
                      "type": "number",
                      "format": "double",
                      "description": "Order book changed timestamp"
                    },
                    "asks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "p": {
                            "type": "string",
                            "description": "Price (quote currency)"
                          },
                          "s": {
                            "type": "string",
                            "description": "Size"
                          }
                        }
                      },
                      "description": "Ask Depth"
                    },
                    "bids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "p": {
                            "type": "string",
                            "description": "Price (quote currency)"
                          },
                          "s": {
                            "type": "string",
                            "description": "Size"
                          }
                        }
                      },
                      "description": "Bid Depth"
                    }
                  }
                },
                "example": {
                  "id": 123456,
                  "current": 1623898993.123,
                  "update": 1623898993.121,
                  "asks": [
                    {
                      "p": "1.52",
                      "s": "100"
                    },
                    {
                      "p": "1.53",
                      "s": "40"
                    }
                  ],
                  "bids": [
                    {
                      "p": "1.17",
                      "s": "150"
                    },
                    {
                      "p": "1.16",
                      "s": "203"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/trades": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "listDEXFuturesTrades",
        "summary": "Perp market transaction records",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records returned in a single list"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "List offset, starting from 0"
          },
          {
            "name": "last_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specify the starting point for this list based on a previously retrieved id"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Specify starting time in Unix seconds. If not specified, to and limit will be used to limit response items."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Specify end time in Unix seconds, default to current time."
          }
        ],
        "responses": {
          "200": {
            "description": "List retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Fill ID"
                      },
                      "create_time": {
                        "type": "number",
                        "format": "double",
                        "description": "Fill Time"
                      },
                      "contract": {
                        "type": "string",
                        "description": "Perp contract"
                      },
                      "size": {
                        "type": "string",
                        "description": "Trading size"
                      },
                      "price": {
                        "type": "string",
                        "description": "Trade price (quote currency)"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": 121234231,
                    "create_time": 1514764800,
                    "contract": "BTC_USDT",
                    "size": "-100",
                    "price": "100.123"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/candlesticks": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "listDEXFuturesCandlesticks",
        "summary": "Perp market K-line chart",
        "description": "Return specified contract candlesticks. If prefix contract with mark_ , the contract's mark price candlesticks are returned; if prefix with index_ , index price candlesticks will be returned.\nMaximum of 2000 points are returned in one query. Be sure not to exceed the limit when specifying from , to and interval",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start time of candlesticks, formatted in Unix timestamp in seconds. Default to to - 100 * interval if not specified"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Specify the end time of the K-line chart, defaults to current time if not specified, note that the time format is Unix timestamp with second precision"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of recent data points to return. limit conflicts with from and to . If either from or to is specified, request will be rejected."
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "10s",
                "1m",
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "8h",
                "1d",
                "7d"
              ]
            },
            "description": "Interval time between data points. Note that 1w means natural week(Mon-Sun), while 7d means every 7d since unix 0. 30d represents a natural month, not 30 days"
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Time zone: all/utc0/utc8, default utc0"
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "t": {
                        "type": "number",
                        "format": "double",
                        "description": "Unix timestamp in seconds"
                      },
                      "v": {
                        "type": "string",
                        "description": "size volume (contract size). Only returned if contract is not prefixed"
                      },
                      "c": {
                        "type": "string",
                        "description": "Close price (quote currency)"
                      },
                      "h": {
                        "type": "string",
                        "description": "Highest price (quote currency)"
                      },
                      "l": {
                        "type": "string",
                        "description": "Lowest price (quote currency)"
                      },
                      "o": {
                        "type": "string",
                        "description": "Open price (quote currency)"
                      },
                      "sum": {
                        "type": "string",
                        "description": "Trading volume (unit: Quote currency)"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "t": 1539852480,
                    "v": "97151",
                    "c": "1.032",
                    "h": "1.032",
                    "l": "1.032",
                    "o": "1.032",
                    "sum": "3580"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/premium_index": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "listDEXFuturesPremiumIndex",
        "summary": "Premium Index K-line chart",
        "description": "Maximum of 1000 points can be returned in a query. Be sure not to exceed the limit when specifying from, to and interval",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start time of candlesticks, formatted in Unix timestamp in seconds. Default to to - 100 * interval if not specified"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Specify the end time of the K-line chart, defaults to current time if not specified, note that the time format is Unix timestamp with second precision"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of recent data points to return. limit conflicts with from and to . If either from or to is specified, request will be rejected."
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "10s",
                "1m",
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "8h",
                "1d",
                "7d"
              ]
            },
            "description": "Time interval between data points"
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "t": {
                        "type": "number",
                        "format": "double",
                        "description": "Unix timestamp in seconds"
                      },
                      "c": {
                        "type": "string",
                        "description": "Close price"
                      },
                      "h": {
                        "type": "string",
                        "description": "Highest price"
                      },
                      "l": {
                        "type": "string",
                        "description": "Lowest price"
                      },
                      "o": {
                        "type": "string",
                        "description": "Open price"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "t": 1539852480,
                    "c": "0",
                    "h": "0.00023",
                    "l": "0",
                    "o": "0"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/tickers": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "listDEXFuturesTickers",
        "summary": "Get all Perp trading statistics",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract, return related data only if specified"
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contract": {
                        "type": "string",
                        "description": "Perp contract"
                      },
                      "last": {
                        "type": "string",
                        "description": "Last trading price"
                      },
                      "low_24h": {
                        "type": "string",
                        "description": "24-hour lowest price"
                      },
                      "high_24h": {
                        "type": "string",
                        "description": "24-hour highest price"
                      },
                      "change_percentage": {
                        "type": "string",
                        "description": "Price change percentage. Negative values indicate price decrease, e.g. -7.45"
                      },
                      "total_size": {
                        "type": "string",
                        "description": "Contract total size"
                      },
                      "volume_24h": {
                        "type": "string",
                        "description": "24-hour trading volume"
                      },
                      "volume_24h_btc": {
                        "type": "string",
                        "description": "24-hour trading volume in BTC (deprecated, use volume_24h_base , volume_24h_quote , volume_24h_settle instead)"
                      },
                      "volume_24h_usd": {
                        "type": "string",
                        "description": "24-hour trading volume in USD (deprecated, use volume_24h_base , volume_24h_quote , volume_24h_settle instead)"
                      },
                      "volume_24h_base": {
                        "type": "string",
                        "description": "24-hour trading volume in base currency"
                      },
                      "volume_24h_quote": {
                        "type": "string",
                        "description": "24-hour trading volume in quote currency"
                      },
                      "volume_24h_settle": {
                        "type": "string",
                        "description": "24-hour trading volume in settle currency"
                      },
                      "mark_price": {
                        "type": "string",
                        "description": "Recent mark price"
                      },
                      "funding_rate": {
                        "type": "string",
                        "description": "Funding rate"
                      },
                      "funding_rate_indicative": {
                        "type": "string",
                        "description": "Indicative Funding rate in next period. (deprecated. use funding_rate )"
                      },
                      "index_price": {
                        "type": "string",
                        "description": "Index price"
                      },
                      "highest_bid": {
                        "type": "string",
                        "description": "Recent highest bid"
                      },
                      "highest_size": {
                        "type": "string",
                        "description": "The latest buyer's highest price order volume"
                      },
                      "lowest_ask": {
                        "type": "string",
                        "description": "Recent lowest ask"
                      },
                      "lowest_size": {
                        "type": "string",
                        "description": "The latest seller's lowest price order quantity"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "contract": "BTC_USDT",
                    "last": "6432",
                    "low_24h": "6278",
                    "high_24h": "6790",
                    "change_percentage": "4.43",
                    "total_size": "32323904",
                    "volume_24h": "184040233284",
                    "volume_24h_btc": "28613220",
                    "volume_24h_usd": "184040233284",
                    "volume_24h_base": "28613220",
                    "volume_24h_quote": "184040233284",
                    "volume_24h_settle": "28613220",
                    "mark_price": "6534",
                    "funding_rate": "0.0001",
                    "funding_rate_indicative": "0.0001",
                    "index_price": "6531",
                    "highest_bid": "34089.7",
                    "highest_size": "100",
                    "lowest_ask": "34217.9",
                    "lowest_size": "1000"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/funding_rate": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "listDEXFuturesFundingRateHistory",
        "summary": "Perp market historical funding rate",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records returned in a single list"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start timestamp"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Termination Timestamp"
          }
        ],
        "responses": {
          "200": {
            "description": "History query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "t": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Unix timestamp in seconds"
                      },
                      "r": {
                        "type": "string",
                        "description": "Funding rate"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "t": 1543968000,
                    "r": "0.000157"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/insurance": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "listDEXFuturesInsuranceLedger",
        "summary": "Perp market insurance fund history",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records returned in a single list"
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "t": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Unix timestamp in seconds"
                      },
                      "b": {
                        "type": "string",
                        "description": "Insurance balance"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "t": 1543968000,
                    "b": "83.0031"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/contract_stats": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "listContractStats",
        "summary": "Perp statistics",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start timestamp"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Stat timestamp"
                      },
                      "lsr_taker": {
                        "type": "number",
                        "format": "double",
                        "description": "Long/short taker ratio"
                      },
                      "lsr_account": {
                        "type": "number",
                        "format": "double",
                        "description": "Long/short position user ratio"
                      },
                      "long_liq_size": {
                        "type": "string",
                        "description": "Long liquidation size (contracts)"
                      },
                      "short_liq_size": {
                        "type": "string",
                        "description": "Short liquidation size (contracts)"
                      },
                      "open_interest": {
                        "type": "string",
                        "description": "Total open interest size (contracts)"
                      },
                      "short_liq_usd": {
                        "type": "number",
                        "format": "double",
                        "description": "Short liquidation volume (quote currency)"
                      },
                      "mark_price": {
                        "type": "number",
                        "format": "double",
                        "description": "Mark price"
                      },
                      "top_lsr_size": {
                        "type": "string",
                        "description": "Top trader long/short position ratio"
                      },
                      "short_liq_amount": {
                        "type": "number",
                        "format": "double",
                        "description": "Short liquidation amount (base currency)"
                      },
                      "long_liq_amount": {
                        "type": "number",
                        "format": "double",
                        "description": "Long liquidation amount (base currency)"
                      },
                      "open_interest_usd": {
                        "type": "number",
                        "format": "double",
                        "description": "Total open interest volume (quote currency)"
                      },
                      "top_lsr_account": {
                        "type": "number",
                        "format": "double",
                        "description": "Top trader long/short account ratio"
                      },
                      "long_liq_usd": {
                        "type": "number",
                        "format": "double",
                        "description": "Long liquidation volume (quote currency)"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "time": 1603865400,
                    "lsr_taker": 100,
                    "lsr_account": 0.5,
                    "long_liq_size": "0",
                    "short_liq_size": "0",
                    "open_interest": "124724",
                    "short_liq_usd": 0,
                    "mark_price": "8865",
                    "top_lsr_size": "1.02",
                    "short_liq_amount": 0,
                    "long_liq_amount": 0,
                    "open_interest_usd": 1511,
                    "top_lsr_account": 1.5,
                    "long_liq_usd": 0
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/index_constituents/{index}": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "getIndexConstituents",
        "summary": "Query index constituents",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Index name"
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "index": {
                      "type": "string",
                      "description": "Index name"
                    },
                    "constituents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "exchange": {
                            "type": "string",
                            "description": "Exchange"
                          },
                          "symbols": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Symbol list"
                          }
                        }
                      },
                      "description": "Constituents"
                    }
                  }
                },
                "example": {
                  "index": "BTC_USDT",
                  "constituents": [
                    {
                      "exchange": "Binance",
                      "symbols": [
                        "BTC_USDT"
                      ]
                    },
                    {
                      "exchange": "dexbuilder.com",
                      "symbols": [
                        "BTC_USDT"
                      ]
                    },
                    {
                      "exchange": "Huobi",
                      "symbols": [
                        "BTC_USDT"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/liq_orders": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "listLiquidatedOrders",
        "summary": "Query liquidation order history",
        "description": "The time interval between from and to is maximum 3600. Some private fields are not returned by public interfaces, refer to field descriptions for details",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract, return related data only if specified"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start timestamp"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Termination Timestamp"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records returned in a single list"
          }
        ],
        "responses": {
          "200": {
            "description": "List retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Liquidation time"
                      },
                      "contract": {
                        "type": "string",
                        "description": "Perp contract"
                      },
                      "size": {
                        "type": "string",
                        "description": "User position size"
                      },
                      "order_size": {
                        "type": "string",
                        "description": "Number of forced liquidation orders"
                      },
                      "order_price": {
                        "type": "string",
                        "description": "Liquidation order price"
                      },
                      "fill_price": {
                        "type": "string",
                        "description": "Liquidation order average taker price"
                      },
                      "left": {
                        "type": "string",
                        "description": "System liquidation order maker size"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "time": 1548654951,
                    "contract": "BTC_USDT",
                    "size": "600",
                    "order_size": "-600",
                    "order_price": "3405",
                    "fill_price": "3424",
                    "left": "0"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/risk_limit_tiers": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "listDEXFuturesRiskLimitTiers",
        "summary": "Query risk limit tiers",
        "description": "When the 'contract' parameter is not passed, the default is to query the risk limits for the top 100 markets. 'Limit' and 'offset' correspond to pagination queries at the market level, not to the length of the returned array. This only takes effect when the contract parameter is empty.",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract, return related data only if specified"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records returned in a single list"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "List offset, starting from 0"
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "maintenance_rate": {
                        "type": "string",
                        "description": "The maintenance margin rate of the first tier of risk limit sheet"
                      },
                      "tier": {
                        "type": "integer",
                        "description": "Tier"
                      },
                      "initial_rate": {
                        "type": "string",
                        "description": "Initial margin rate"
                      },
                      "leverage_max": {
                        "type": "string",
                        "description": "Maximum leverage"
                      },
                      "risk_limit": {
                        "type": "string",
                        "description": "Position risk limit"
                      },
                      "contract": {
                        "type": "string",
                        "description": "Market, only visible when market pagination is requested"
                      },
                      "deduction": {
                        "type": "string",
                        "description": "Maintenance margin quick calculation deduction amount"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "maintenance_rate": "0.01",
                    "tier": 1,
                    "initial_rate": "0.02",
                    "leverage_max": "50",
                    "risk_limit": "20000",
                    "contract": "ZTX_USDT",
                    "deduction": "0"
                  },
                  {
                    "maintenance_rate": "0.013",
                    "tier": 2,
                    "initial_rate": "0.025",
                    "leverage_max": "40",
                    "risk_limit": "30000",
                    "contract": "ZTX_USDT",
                    "deduction": "60"
                  },
                  {
                    "maintenance_rate": "0.015",
                    "tier": 3,
                    "initial_rate": "0.02857",
                    "leverage_max": "35",
                    "risk_limit": "50000",
                    "contract": "ZTX_USDT",
                    "deduction": "120"
                  },
                  {
                    "maintenance_rate": "0.02",
                    "tier": 4,
                    "initial_rate": "0.03333",
                    "leverage_max": "30",
                    "risk_limit": "70000",
                    "contract": "ZTX_USDT",
                    "deduction": "370"
                  },
                  {
                    "maintenance_rate": "0.025",
                    "tier": 5,
                    "initial_rate": "0.04",
                    "leverage_max": "25",
                    "risk_limit": "100000",
                    "contract": "ZTX_USDT",
                    "deduction": "720"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "listDEXFuturesAccounts",
        "summary": "Get Perp account",
        "description": "Query account information for classic future account and unified account",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "integer"
                    },
                    "currency": {
                      "type": "string",
                      "description": "Settlement currency"
                    },
                    "total": {
                      "type": "string",
                      "description": "Balance, only applicable to classic contract account.The balance is the sum of all historical fund flows, including historical transfers in and out, closing settlements, and transaction fee expenses, but does not include upl of positions.total = SUM(history_dnw, history_pnl, history_fee, history_refr, history_fund)"
                    },
                    "unrealised_pnl": {
                      "type": "string",
                      "description": "Unrealized PNL"
                    },
                    "position_margin": {
                      "type": "string",
                      "description": "Deprecated"
                    },
                    "order_margin": {
                      "type": "string",
                      "description": "initial margin of all open orders"
                    },
                    "available": {
                      "type": "string",
                      "description": "Refers to the available withdrawal or trading amount in per-position, specifically the per-position available balance under the unified account that includes the credit line (which incorporates trial funds; since trial funds cannot be withdrawn, the actual withdrawal amount needs to deduct the trial fund portion when processing withdrawals)"
                    },
                    "point": {
                      "type": "string",
                      "description": "Point card amount"
                    },
                    "bonus": {
                      "type": "string",
                      "description": "Bonus"
                    },
                    "in_dual_mode": {
                      "type": "boolean",
                      "description": "Whether Hedge Mode is enabled"
                    },
                    "enable_evolved_classic": {
                      "type": "boolean",
                      "description": "Deprecated"
                    },
                    "cross_initial_margin": {
                      "type": "string",
                      "description": "Cross margin initial margin, applicable to new classic account margin mode"
                    },
                    "cross_maintenance_margin": {
                      "type": "string",
                      "description": "Cross margin maintenance margin, applicable to new classic account margin mode"
                    },
                    "cross_order_margin": {
                      "type": "string",
                      "description": "Cross margin order margin, applicable to new classic account margin mode"
                    },
                    "cross_unrealised_pnl": {
                      "type": "string",
                      "description": "Cross margin unrealized P&L, applicable to new classic account margin mode"
                    },
                    "cross_available": {
                      "type": "string",
                      "description": "Cross margin available balance, applicable to new classic account margin mode"
                    },
                    "cross_margin_balance": {
                      "type": "string",
                      "description": "Cross margin balance, applicable to new classic account margin mode"
                    },
                    "cross_mmr": {
                      "type": "string",
                      "description": "Cross margin maintenance margin rate, applicable to new classic account margin mode"
                    },
                    "cross_imr": {
                      "type": "string",
                      "description": "Cross margin initial margin rate, applicable to new classic account margin mode"
                    },
                    "isolated_position_margin": {
                      "type": "string",
                      "description": "Isolated position margin, applicable to new classic account margin mode"
                    },
                    "history": {
                      "type": "object",
                      "properties": {
                        "dnw": {
                          "type": "string",
                          "description": "total amount of deposit and withdraw"
                        },
                        "pnl": {
                          "type": "string",
                          "description": "total amount of trading profit and loss"
                        },
                        "fee": {
                          "type": "string",
                          "description": "total amount of fee"
                        },
                        "refr": {
                          "type": "string",
                          "description": "total amount of referrer rebates"
                        },
                        "fund": {
                          "type": "string",
                          "description": "total amount of funding costs"
                        },
                        "point_dnw": {
                          "type": "string",
                          "description": "total amount of point deposit and withdraw"
                        },
                        "point_fee": {
                          "type": "string",
                          "description": "total amount of point fee"
                        },
                        "point_refr": {
                          "type": "string",
                          "description": "total amount of referrer rebates of point fee"
                        },
                        "bonus_dnw": {
                          "type": "string",
                          "description": "total amount of perpetual contract bonus transfer"
                        },
                        "bonus_offset": {
                          "type": "string",
                          "description": "total amount of perpetual contract bonus deduction"
                        }
                      },
                      "description": "Statistical data"
                    },
                    "enable_tiered_mm": {
                      "type": "boolean",
                      "description": "Whether to enable tiered maintenance margin calculation"
                    }
                  }
                },
                "example": {
                  "user": 1666,
                  "currency": "USDT",
                  "total": "9707.803567115145",
                  "unrealised_pnl": "3371.248828",
                  "position_margin": "38.712189181",
                  "order_margin": "0",
                  "available": "9669.091377934145",
                  "point": "0",
                  "bonus": "0",
                  "in_dual_mode": false,
                  "enable_evolved_classic": false,
                  "cross_initial_margin": "61855.56788525",
                  "cross_maintenance_margin": "682.04678105",
                  "cross_order_margin": "0",
                  "cross_unrealised_pnl": "1501.178222634128",
                  "cross_available": "27549.406108813951",
                  "cross_margin_balance": "10371.77306201952",
                  "cross_mmr": "797.2134",
                  "cross_imr": "116.6097",
                  "isolated_position_margin": "0",
                  "history": {
                    "dnw": "10000",
                    "pnl": "68.3685",
                    "fee": "-1.645812875",
                    "refr": "0",
                    "fund": "-358.919120009855",
                    "point_dnw": "0",
                    "point_fee": "0",
                    "point_refr": "0",
                    "bonus_dnw": "0",
                    "bonus_offset": "0"
                  },
                  "enable_tiered_mm": true
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/account_book": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "listDEXFuturesAccountBook",
        "summary": "Query Perp account change history",
        "description": "If the contract field is passed, only records containing this field after 2023-10-30 can be filtered。",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract, return related data only if specified"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records returned in a single list"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "List offset, starting from 0"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start timestamp"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Termination Timestamp"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Change types:"
          }
        ],
        "responses": {
          "200": {
            "description": "List retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "number",
                        "format": "double",
                        "description": "Change time"
                      },
                      "change": {
                        "type": "string",
                        "description": "Change amount"
                      },
                      "balance": {
                        "type": "string",
                        "description": "Balance after change"
                      },
                      "text": {
                        "type": "string",
                        "description": "Comment"
                      },
                      "type": {
                        "type": "string",
                        "description": "Change types: - dnw: Deposit and withdrawal - pnl: Profit and loss from position reduction - fee: Trading fees - refr: Referrer rebates - fund: Funding fees - point_dnw: Point card deposit and withdrawal - point_fee: Point card trading fees - point_refr: Point card referrer rebates - bonus_offset: Trial fund deduction"
                      },
                      "contract": {
                        "type": "string",
                        "description": "Perp contract, the field is only available for data after 2023-10-30"
                      },
                      "trade_id": {
                        "type": "string",
                        "description": "trade id"
                      },
                      "id": {
                        "type": "string",
                        "description": "Account change record ID"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "time": 1682294400.123456,
                    "change": "0.000010152188",
                    "balance": "4.59316525194",
                    "text": "ETH_USD:6086261",
                    "type": "fee",
                    "contract": "ETH_USD",
                    "trade_id": "1",
                    "id": "1"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/positions": {
      "get": {
        "tags": [
          "Positions"
        ],
        "operationId": "listPositions",
        "summary": "Get user position list",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "holding",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Return only real positions - true, return all - false"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of records returned in a single list"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "List offset, starting from 0"
          }
        ],
        "responses": {
          "200": {
            "description": "List retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                },
                "example": [
                  {
                    "user": 10000,
                    "contract": "BTC_USDT",
                    "size": "-9440",
                    "leverage": "0",
                    "risk_limit": "100",
                    "leverage_max": "100",
                    "maintenance_rate": "0.005",
                    "value": "3568.62",
                    "margin": "4.431548146258",
                    "entry_price": "3779.55",
                    "liq_price": "99999999",
                    "mark_price": "3780.32",
                    "unrealised_pnl": "-0.000507486844",
                    "realised_pnl": "0.045543982432",
                    "pnl_pnl": "0.045543982432",
                    "pnl_fund": "0",
                    "pnl_fee": "0",
                    "history_pnl": "0",
                    "last_close_pnl": "0",
                    "realised_point": "0",
                    "history_point": "0",
                    "adl_ranking": 5,
                    "pending_orders": 16,
                    "close_order": {
                      "id": 232323,
                      "price": "3779",
                      "is_liq": false
                    },
                    "mode": "single",
                    "update_time": 1684994406,
                    "update_id": 1,
                    "cross_leverage_limit": "0",
                    "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                    "average_maintenance_rate": "0.005"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/positions/{contract}": {
      "get": {
        "tags": [
          "Positions"
        ],
        "operationId": "getPosition",
        "summary": "Get single position information",
        "description": "Get single position information from a contract. If you hold two postions in one contract market, please use this API: /dex_futures/{settle}/dual_comp/positions/{contract}",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract"
          }
        ],
        "responses": {
          "200": {
            "description": "Position information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Position"
                },
                "example": {
                  "user": 10000,
                  "contract": "BTC_USDT",
                  "size": "-9440",
                  "leverage": "0",
                  "risk_limit": "100",
                  "leverage_max": "100",
                  "maintenance_rate": "0.005",
                  "value": "3568.62",
                  "margin": "4.431548146258",
                  "entry_price": "3779.55",
                  "liq_price": "99999999",
                  "mark_price": "3780.32",
                  "unrealised_pnl": "-0.000507486844",
                  "realised_pnl": "0.045543982432",
                  "pnl_pnl": "0.045543982432",
                  "pnl_fund": "0",
                  "pnl_fee": "0",
                  "history_pnl": "0",
                  "last_close_pnl": "0",
                  "realised_point": "0",
                  "history_point": "0",
                  "adl_ranking": 5,
                  "pending_orders": 16,
                  "close_order": {
                    "id": 232323,
                    "price": "3779",
                    "is_liq": false
                  },
                  "mode": "single",
                  "update_time": 1684994406,
                  "update_id": 1,
                  "cross_leverage_limit": "0",
                  "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                  "average_maintenance_rate": "0.005"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/positions/{contract}/margin": {
      "post": {
        "tags": [
          "Positions"
        ],
        "operationId": "updatePositionMargin",
        "summary": "Update position margin",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract"
          },
          {
            "name": "change",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Margin change amount, positive number increases, negative number decreases"
          }
        ],
        "responses": {
          "200": {
            "description": "Position information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Position"
                },
                "example": {
                  "user": 10000,
                  "contract": "BTC_USDT",
                  "size": "-9440",
                  "leverage": "0",
                  "risk_limit": "100",
                  "leverage_max": "100",
                  "maintenance_rate": "0.005",
                  "value": "3568.62",
                  "margin": "4.431548146258",
                  "entry_price": "3779.55",
                  "liq_price": "99999999",
                  "mark_price": "3780.32",
                  "unrealised_pnl": "-0.000507486844",
                  "realised_pnl": "0.045543982432",
                  "pnl_pnl": "0.045543982432",
                  "pnl_fund": "0",
                  "pnl_fee": "0",
                  "history_pnl": "0",
                  "last_close_pnl": "0",
                  "realised_point": "0",
                  "history_point": "0",
                  "adl_ranking": 5,
                  "pending_orders": 16,
                  "close_order": {
                    "id": 232323,
                    "price": "3779",
                    "is_liq": false
                  },
                  "mode": "single",
                  "update_time": 1684994406,
                  "update_id": 1,
                  "cross_leverage_limit": "0",
                  "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                  "average_maintenance_rate": "0.005"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/positions/{contract}/leverage": {
      "post": {
        "tags": [
          "Positions"
        ],
        "operationId": "updatePositionLeverage",
        "summary": "Update position leverage",
        "description": "⚠️ Position Mode Switching Rules:\n- leverage ≠ 0: Isolated Margin Mode (Regardless of whether cross_leverage_limit is filled, this parameter will be ignored)\n- leverage = 0: Cross Margin Mode (Use cross_leverage_limit to set the leverage multiple)\nExamples:\n- Set isolated margin with 10x leverage: leverage=10\n- Set cross margin with 10x leverage: leverage=0&cross_leverage_limit=10\n- leverage=5&cross_leverage_limit=10 → Result: Isolated margin with 5x leverage (cross_leverage_limit is ignored)\n⚠️ Warning: Incorrect settings may cause unexpected position mode switching, affecting risk management.",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract"
          },
          {
            "name": "leverage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Set the leverage for isolated margin. When setting isolated margin leverage, the cross_leverage_limit must be empty."
          },
          {
            "name": "cross_leverage_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set the leverage for cross margin. When setting cross margin leverage, the leverage must be set to 0."
          },
          {
            "name": "pid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Product ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Position information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Position"
                },
                "example": {
                  "user": 10000,
                  "contract": "BTC_USDT",
                  "size": "-9440",
                  "leverage": "0",
                  "risk_limit": "100",
                  "leverage_max": "100",
                  "maintenance_rate": "0.005",
                  "value": "3568.62",
                  "margin": "4.431548146258",
                  "entry_price": "3779.55",
                  "liq_price": "99999999",
                  "mark_price": "3780.32",
                  "unrealised_pnl": "-0.000507486844",
                  "realised_pnl": "0.045543982432",
                  "pnl_pnl": "0.045543982432",
                  "pnl_fund": "0",
                  "pnl_fee": "0",
                  "history_pnl": "0",
                  "last_close_pnl": "0",
                  "realised_point": "0",
                  "history_point": "0",
                  "adl_ranking": 5,
                  "pending_orders": 16,
                  "close_order": {
                    "id": 232323,
                    "price": "3779",
                    "is_liq": false
                  },
                  "mode": "single",
                  "update_time": 1684994406,
                  "update_id": 1,
                  "cross_leverage_limit": "0",
                  "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                  "average_maintenance_rate": "0.005"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/positions/cross_mode": {
      "post": {
        "tags": [
          "Positions"
        ],
        "operationId": "updatePositionCrossMode",
        "summary": "Switch Position Margin Mode",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "description": "Cross margin or isolated margin mode. ISOLATED - isolated margin mode, CROSS - cross margin mode"
                  },
                  "contract": {
                    "type": "string",
                    "description": "Perp market"
                  }
                },
                "required": [
                  "mode",
                  "contract"
                ]
              },
              "example": {
                "mode": "ISOLATED",
                "contract": "BTC_USDT"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Position"
                },
                "example": {
                  "user": 10000,
                  "contract": "BTC_USDT",
                  "size": "-9440",
                  "leverage": "0",
                  "risk_limit": "100",
                  "leverage_max": "100",
                  "maintenance_rate": "0.005",
                  "value": "3568.62",
                  "margin": "4.431548146258",
                  "entry_price": "3779.55",
                  "liq_price": "99999999",
                  "mark_price": "3780.32",
                  "unrealised_pnl": "-0.000507486844",
                  "realised_pnl": "0.045543982432",
                  "pnl_pnl": "0.045543982432",
                  "pnl_fund": "0",
                  "pnl_fee": "0",
                  "history_pnl": "0",
                  "last_close_pnl": "0",
                  "realised_point": "0",
                  "history_point": "0",
                  "adl_ranking": 5,
                  "pending_orders": 16,
                  "close_order": {
                    "id": 232323,
                    "price": "3779",
                    "is_liq": false
                  },
                  "mode": "single",
                  "update_time": 1684994406,
                  "update_id": 1,
                  "cross_leverage_limit": "0",
                  "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                  "average_maintenance_rate": "0.005"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/dual_comp/positions/cross_mode": {
      "post": {
        "tags": [
          "Positions"
        ],
        "operationId": "updateDualCompPositionCrossMode",
        "summary": "Switch Between Cross and Isolated Margin Modes Under Hedge Mode",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "description": "Cross margin or isolated margin mode. ISOLATED - isolated margin mode, CROSS - cross margin mode"
                  },
                  "contract": {
                    "type": "string",
                    "description": "Perp market"
                  }
                },
                "required": [
                  "mode",
                  "contract"
                ]
              },
              "example": {
                "mode": "ISOLATED",
                "contract": "BTC_USDT"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                },
                "example": [
                  {
                    "user": 10000,
                    "contract": "BTC_USDT",
                    "size": "-9440",
                    "leverage": "0",
                    "risk_limit": "100",
                    "leverage_max": "100",
                    "maintenance_rate": "0.005",
                    "value": "3568.62",
                    "margin": "4.431548146258",
                    "entry_price": "3779.55",
                    "liq_price": "99999999",
                    "mark_price": "3780.32",
                    "unrealised_pnl": "-0.000507486844",
                    "realised_pnl": "0.045543982432",
                    "pnl_pnl": "0.045543982432",
                    "pnl_fund": "0",
                    "pnl_fee": "0",
                    "history_pnl": "0",
                    "last_close_pnl": "0",
                    "realised_point": "0",
                    "history_point": "0",
                    "adl_ranking": 5,
                    "pending_orders": 16,
                    "close_order": {
                      "id": 232323,
                      "price": "3779",
                      "is_liq": false
                    },
                    "mode": "single",
                    "update_time": 1684994406,
                    "update_id": 1,
                    "cross_leverage_limit": "0",
                    "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                    "average_maintenance_rate": "0.005"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/positions/{contract}/risk_limit": {
      "post": {
        "tags": [
          "Positions"
        ],
        "operationId": "updatePositionRiskLimit",
        "summary": "Update position risk limit",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Perp contract"
          },
          {
            "name": "risk_limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "New risk limit value"
          }
        ],
        "responses": {
          "200": {
            "description": "Position information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Position"
                },
                "example": {
                  "user": 10000,
                  "contract": "BTC_USDT",
                  "size": "-9440",
                  "leverage": "0",
                  "risk_limit": "100",
                  "leverage_max": "100",
                  "maintenance_rate": "0.005",
                  "value": "3568.62",
                  "margin": "4.431548146258",
                  "entry_price": "3779.55",
                  "liq_price": "99999999",
                  "mark_price": "3780.32",
                  "unrealised_pnl": "-0.000507486844",
                  "realised_pnl": "0.045543982432",
                  "pnl_pnl": "0.045543982432",
                  "pnl_fund": "0",
                  "pnl_fee": "0",
                  "history_pnl": "0",
                  "last_close_pnl": "0",
                  "realised_point": "0",
                  "history_point": "0",
                  "adl_ranking": 5,
                  "pending_orders": 16,
                  "close_order": {
                    "id": 232323,
                    "price": "3779",
                    "is_liq": false
                  },
                  "mode": "single",
                  "update_time": 1684994406,
                  "update_id": 1,
                  "cross_leverage_limit": "0",
                  "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                  "average_maintenance_rate": "0.005"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/dual_mode": {
      "post": {
        "tags": [
          "Positions"
        ],
        "operationId": "setDualMode",
        "summary": "Set position mode",
        "description": "The prerequisite for changing mode is that all positions have no holdings and no pending orders",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "Settle currency"
          },
          {
            "name": "dual_mode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to enable Hedge Mode"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "integer"
                    },
                    "currency": {
                      "type": "string",
                      "description": "Settlement currency"
                    },
                    "total": {
                      "type": "string",
                      "description": "Balance, only applicable to classic contract account.The balance is the sum of all historical fund flows, including historical transfers in and out, closing settlements, and transaction fee expenses, but does not include upl of positions.total = SUM(history_dnw, history_pnl, history_fee, history_refr, history_fund)"
                    },
                    "unrealised_pnl": {
                      "type": "string",
                      "description": "Unrealized PNL"
                    },
                    "position_margin": {
                      "type": "string",
                      "description": "Deprecated"
                    },
                    "order_margin": {
                      "type": "string",
                      "description": "initial margin of all open orders"
                    },
                    "available": {
                      "type": "string",
                      "description": "Refers to the available withdrawal or trading amount in per-position, specifically the per-position available balance under the unified account that includes the credit line (which incorporates trial funds; since trial funds cannot be withdrawn, the actual withdrawal amount needs to deduct the trial fund portion when processing withdrawals)"
                    },
                    "point": {
                      "type": "string",
                      "description": "Point card amount"
                    },
                    "bonus": {
                      "type": "string",
                      "description": "Bonus"
                    },
                    "in_dual_mode": {
                      "type": "boolean",
                      "description": "Whether Hedge Mode is enabled"
                    },
                    "enable_evolved_classic": {
                      "type": "boolean",
                      "description": "Deprecated"
                    },
                    "cross_initial_margin": {
                      "type": "string",
                      "description": "Cross margin initial margin, applicable to new classic account margin mode"
                    },
                    "cross_maintenance_margin": {
                      "type": "string",
                      "description": "Cross margin maintenance margin, applicable to new classic account margin mode"
                    },
                    "cross_order_margin": {
                      "type": "string",
                      "description": "Cross margin order margin, applicable to new classic account margin mode"
                    },
                    "cross_unrealised_pnl": {
                      "type": "string",
                      "description": "Cross margin unrealized P&L, applicable to new classic account margin mode"
                    },
                    "cross_available": {
                      "type": "string",
                      "description": "Cross margin available balance, applicable to new classic account margin mode"
                    },
                    "cross_margin_balance": {
                      "type": "string",
                      "description": "Cross margin balance, applicable to new classic account margin mode"
                    },
                    "cross_mmr": {
                      "type": "string",
                      "description": "Cross margin maintenance margin rate, applicable to new classic account margin mode"
                    },
                    "cross_imr": {
                      "type": "string",
                      "description": "Cross margin initial margin rate, applicable to new classic account margin mode"
                    },
                    "isolated_position_margin": {
                      "type": "string",
                      "description": "Isolated position margin, applicable to new classic account margin mode"
                    },
                    "history": {
                      "type": "object",
                      "properties": {
                        "dnw": {
                          "type": "string",
                          "description": "total amount of deposit and withdraw"
                        },
                        "pnl": {
                          "type": "string",
                          "description": "total amount of trading profit and loss"
                        },
                        "fee": {
                          "type": "string",
                          "description": "total amount of fee"
                        },
                        "refr": {
                          "type": "string",
                          "description": "total amount of referrer rebates"
                        },
                        "fund": {
                          "type": "string",
                          "description": "total amount of funding costs"
                        },
                        "point_dnw": {
                          "type": "string",
                          "description": "total amount of point deposit and withdraw"
                        },
                        "point_fee": {
                          "type": "string",
                          "description": "total amount of point fee"
                        },
                        "point_refr": {
                          "type": "string",
                          "description": "total amount of referrer rebates of point fee"
                        },
                        "bonus_dnw": {
                          "type": "string",
                          "description": "total amount of perpetual contract bonus transfer"
                        },
                        "bonus_offset": {
                          "type": "string",
                          "description": "total amount of perpetual contract bonus deduction"
                        }
                      },
                      "description": "Statistical data"
                    },
                    "enable_tiered_mm": {
                      "type": "boolean",
                      "description": "Whether to enable tiered maintenance margin calculation"
                    }
                  }
                },
                "example": {
                  "user": 1666,
                  "currency": "USDT",
                  "total": "9707.803567115145",
                  "unrealised_pnl": "3371.248828",
                  "position_margin": "38.712189181",
                  "order_margin": "0",
                  "available": "9669.091377934145",
                  "point": "0",
                  "bonus": "0",
                  "in_dual_mode": false,
                  "enable_evolved_classic": false,
                  "cross_initial_margin": "61855.56788525",
                  "cross_maintenance_margin": "682.04678105",
                  "cross_order_margin": "0",
                  "cross_unrealised_pnl": "1501.178222634128",
                  "cross_available": "27549.406108813951",
                  "cross_margin_balance": "10371.77306201952",
                  "cross_mmr": "797.2134",
                  "cross_imr": "116.6097",
                  "isolated_position_margin": "0",
                  "history": {
                    "dnw": "10000",
                    "pnl": "68.3685",
                    "fee": "-1.645812875",
                    "refr": "0",
[...]
