{
  "openapi": "3.1.0",
  "info": {
    "title": "DexBuilder 交易 API",
    "version": "1.0.0",
    "description": "DexBuilder API v1.0.0 提供完整的链上永续合约交易能力，包括行情查询、账户与仓位管理、订单管理及交易历史。",
    "contact": {
      "email": "contact@dexbuilder.com"
    }
  },
  "servers": [
    {
      "url": "https://api.dexbuilder.com/api/v1",
      "description": "DexBuilder 生产环境交易 API"
    }
  ],
  "tags": [
    {
      "name": "行情",
      "description": "公开永续合约行情、指数、资金费率与市场统计。"
    },
    {
      "name": "账户",
      "description": "账户、账户流水与交易费率。"
    },
    {
      "name": "仓位",
      "description": "仓位、杠杆、保证金模式与仓位模式。"
    },
    {
      "name": "订单",
      "description": "下单、查询、修改与撤单。"
    },
    {
      "name": "历史",
      "description": "个人成交、平仓、强平与自动减仓历史。"
    }
  ],
  "security": [],
  "paths": {
    "/dex_futures/{settle}/contracts": {
      "get": {
        "tags": [
          "行情"
        ],
        "operationId": "listDEXFuturesContracts",
        "summary": "查询所有的合约信息",
        "x-mint": {
          "href": "/zh/api-reference/query-all-perp-contracts"
        },
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "列表返回的最大数量"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "列表返回的偏移量，从 0 开始"
          }
        ],
        "responses": {
          "200": {
            "description": "列表查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contract"
                  }
                },
                "example": [
                  {
                    "name": "BTC_USDT",
                    "type": "direct",
                    "quanto_multiplier": "0.0001",
                    "ref_discount_rate": "0",
                    "order_price_deviate": "0.5",
                    "maintenance_rate": "0.005",
                    "mark_type": "index",
                    "last_price": "38026",
                    "mark_price": "37985.6",
                    "index_price": "37954.92",
                    "funding_rate_indicative": "0.000219",
                    "mark_price_round": "0.01",
                    "funding_offset": 0,
                    "in_delisting": false,
                    "risk_limit_base": "1000000",
                    "interest_rate": "0.0003",
                    "order_price_round": "0.1",
                    "order_size_min": "1",
                    "ref_rebate_rate": "0.2",
                    "funding_interval": 28800,
                    "risk_limit_step": "1000000",
                    "leverage_min": "1",
                    "leverage_max": "100",
                    "risk_limit_max": "8000000",
                    "maker_fee_rate": "-0.00025",
                    "taker_fee_rate": "0.00075",
                    "funding_rate": "0.002053",
                    "order_size_max": "1000000",
                    "funding_next_apply": 1610035200,
                    "short_users": 977,
                    "config_change_time": 1609899548,
                    "trade_size": "28530850594",
                    "position_size": "5223816",
                    "long_users": 455,
                    "funding_impact_value": "60000",
                    "orders_limit": 50,
                    "trade_id": 10851092,
                    "orderbook_id": 2129638396,
                    "enable_bonus": true,
                    "enable_credit": true,
                    "create_time": 1669688556,
                    "funding_cap_ratio": "0.75",
                    "status": "trading",
                    "launch_time": 1609899548,
                    "delisting_time": 1609899548,
                    "delisted_time": 1609899548,
                    "market_order_slip_ratio": "0.05",
                    "market_order_size_max": "0",
                    "funding_rate_limit": "0.003"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/contracts/{contract}": {
      "get": {
        "tags": [
          "行情"
        ],
        "operationId": "getDEXFuturesContract",
        "summary": "查询单个合约信息",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          }
        ],
        "responses": {
          "200": {
            "description": "合约信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                },
                "example": {
                  "name": "BTC_USDT",
                  "type": "direct",
                  "quanto_multiplier": "0.0001",
                  "ref_discount_rate": "0",
                  "order_price_deviate": "0.5",
                  "maintenance_rate": "0.005",
                  "mark_type": "index",
                  "last_price": "38026",
                  "mark_price": "37985.6",
                  "index_price": "37954.92",
                  "funding_rate_indicative": "0.000219",
                  "mark_price_round": "0.01",
                  "funding_offset": 0,
                  "in_delisting": false,
                  "risk_limit_base": "1000000",
                  "interest_rate": "0.0003",
                  "order_price_round": "0.1",
                  "order_size_min": "1",
                  "ref_rebate_rate": "0.2",
                  "funding_interval": 28800,
                  "risk_limit_step": "1000000",
                  "leverage_min": "1",
                  "leverage_max": "100",
                  "risk_limit_max": "8000000",
                  "maker_fee_rate": "-0.00025",
                  "taker_fee_rate": "0.00075",
                  "funding_rate": "0.002053",
                  "order_size_max": "1000000",
                  "funding_next_apply": 1610035200,
                  "short_users": 977,
                  "config_change_time": 1609899548,
                  "trade_size": "28530850594",
                  "position_size": "5223816",
                  "long_users": 455,
                  "funding_impact_value": "60000",
                  "orders_limit": 50,
                  "trade_id": 10851092,
                  "orderbook_id": 2129638396,
                  "enable_bonus": true,
                  "enable_credit": true,
                  "create_time": 1669688556,
                  "funding_cap_ratio": "0.75",
                  "status": "trading",
                  "launch_time": 1609899548,
                  "delisting_time": 1609899548,
                  "delisted_time": 1609899548,
                  "market_order_slip_ratio": "0.05",
                  "market_order_size_max": "0",
                  "funding_rate_limit": "0.003"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/order_book": {
      "get": {
        "tags": [
          "行情"
        ],
        "operationId": "listDEXFuturesOrderBook",
        "summary": "查询合约市场深度信息",
        "description": "买单会按照价格从高到低排序，卖单反之",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "合并深度指定的价格精度，0 为不合并，不指定则默认为 0"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "深度档位数量"
          },
          {
            "name": "with_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "是否返回深度更新 ID。深度每发生一次变化，该 ID 自增 1"
          }
        ],
        "responses": {
          "200": {
            "description": "深度查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "深度更新 ID，深度每发生一次变化，该 ID 加 1，只有设置 with_id=true 时才返回"
                    },
                    "current": {
                      "type": "number",
                      "format": "double",
                      "description": "接口数据返回时间戳"
                    },
                    "update": {
                      "type": "number",
                      "format": "double",
                      "description": "深度变化时间戳"
                    },
                    "asks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "p": {
                            "type": "string",
                            "description": "价格 (计价货币)"
                          },
                          "s": {
                            "type": "string",
                            "description": "数量"
                          }
                        }
                      },
                      "description": "卖方深度列表"
                    },
                    "bids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "p": {
                            "type": "string",
                            "description": "价格 (计价货币)"
                          },
                          "s": {
                            "type": "string",
                            "description": "数量"
                          }
                        }
                      },
                      "description": "买方深度列表"
                    }
                  }
                },
                "example": {
                  "id": 123456,
                  "current": 1623898993.123,
                  "update": 1623898993.121,
                  "asks": [
                    {
                      "p": "1.52",
                      "s": "100"
                    },
                    {
                      "p": "1.53",
                      "s": "40"
                    }
                  ],
                  "bids": [
                    {
                      "p": "1.17",
                      "s": "150"
                    },
                    {
                      "p": "1.16",
                      "s": "203"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/trades": {
      "get": {
        "tags": [
          "行情"
        ],
        "operationId": "listDEXFuturesTrades",
        "summary": "合约市场成交记录",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "列表返回的最大数量"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "列表返回的偏移量，从 0 开始"
          },
          {
            "name": "last_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "以上个列表的最后一条记录的 ID 作为下个列表的起点。"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "指定起始时间，时间格式为秒(s)精度的 Unix 时间戳。 不指定则按照 to 和 limit 来限定返回的数量。"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "指定结束时间，不指定则默认当前时间，时间格式为秒(s)精度的 Unix 时间戳"
          }
        ],
        "responses": {
          "200": {
            "description": "列表查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "成交记录 ID"
                      },
                      "create_time": {
                        "type": "number",
                        "format": "double",
                        "description": "成交时间"
                      },
                      "contract": {
                        "type": "string",
                        "description": "合约标识"
                      },
                      "size": {
                        "type": "string",
                        "description": "成交数量"
                      },
                      "price": {
                        "type": "string",
                        "description": "成交价格 (计价货币)"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": 121234231,
                    "create_time": 1514764800,
                    "contract": "BTC_USDT",
                    "size": "-100",
                    "price": "100.123"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/candlesticks": {
      "get": {
        "tags": [
          "行情"
        ],
        "operationId": "listDEXFuturesCandlesticks",
        "summary": "合约市场 K 线图",
        "description": "如果 contract 字段在合约标识前增加了 mark_ 前缀则返回标记价格数据(如mark_BTC_USD)， 如果增加了 index_ 则返回指数价格的数据(如index_BTC_USD)\nK 线图数据单次请求最大返回 2000 个点，指定 from, to 和 interval 的时候注意点数不能过多。",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "指定 K 线图的起始时间，注意时间格式为秒(s)精度的 Unix 时间戳，不指定则默认为 to - 100 * interval，即向前最多 100 个点的时间"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "指定 K 线图的结束时间，不指定则默认当前时间，注意时间格式为秒(s)精度的 Unix 时间戳"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "指定数据点的数量，适用于取最近 limit 数量的数据，该字段与 from , to 互斥，如果指定了 from , to 中的任意字段，该字段会被拒绝"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "10s",
                "1m",
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "8h",
                "1d",
                "7d"
              ]
            },
            "description": "数据点的时间间隔，注意 1w 代表一个自然周，7d 的时间是和 Unix 初始时间对齐, 30d 代表一个自然月"
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "时区,all/utc0/utc8，默认utc0"
          }
        ],
        "responses": {
          "200": {
            "description": "成功查询",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "t": {
                        "type": "number",
                        "format": "double",
                        "description": "秒 s 精度的 Unix 时间戳"
                      },
                      "v": {
                        "type": "string",
                        "description": "交易量，只有市场行情的 K 线数据里有该值 (合约张数)"
                      },
                      "c": {
                        "type": "string",
                        "description": "收盘价 (计价货币)"
                      },
                      "h": {
                        "type": "string",
                        "description": "最高价 (计价货币)"
                      },
                      "l": {
                        "type": "string",
                        "description": "最低价 (计价货币)"
                      },
                      "o": {
                        "type": "string",
                        "description": "开盘价 (计价货币)"
                      },
                      "sum": {
                        "type": "string",
                        "description": "交易额，单位是计价货币"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "t": 1539852480,
                    "v": "97151",
                    "c": "1.032",
                    "h": "1.032",
                    "l": "1.032",
                    "o": "1.032",
                    "sum": "3580"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/premium_index": {
      "get": {
        "tags": [
          "行情"
        ],
        "operationId": "listDEXFuturesPremiumIndex",
        "summary": "合约溢价指数 K 线图",
        "description": "K 线图数据单次请求最大返回 1000 个点，指定 from, to 和 interval 的时候注意点数不能过多",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "指定 K 线图的起始时间，注意时间格式为秒(s)精度的 Unix 时间戳，不指定则默认为 to - 100 * interval，即向前最多 100 个点的时间"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "指定 K 线图的结束时间，不指定则默认当前时间，注意时间格式为秒(s)精度的 Unix 时间戳"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "指定数据点的数量，适用于取最近 limit 数量的数据，该字段与 from , to 互斥，如果指定了 from , to 中的任意字段，该字段会被拒绝"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "10s",
                "1m",
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "8h",
                "1d",
                "7d"
              ]
            },
            "description": "数据点的时间间隔"
          }
        ],
        "responses": {
          "200": {
            "description": "成功查询",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "t": {
                        "type": "number",
                        "format": "double",
                        "description": "秒 s 精度的 Unix 时间戳"
                      },
                      "c": {
                        "type": "string",
                        "description": "收盘价"
                      },
                      "h": {
                        "type": "string",
                        "description": "最高价"
                      },
                      "l": {
                        "type": "string",
                        "description": "最低价"
                      },
                      "o": {
                        "type": "string",
                        "description": "开盘价"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "t": 1539852480,
                    "c": "0",
                    "h": "0.00023",
                    "l": "0",
                    "o": "0"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/tickers": {
      "get": {
        "tags": [
          "行情"
        ],
        "operationId": "listDEXFuturesTickers",
        "summary": "获取所有合约交易行情统计",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "合约标识，如果指定则只返回该合约相关数据"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contract": {
                        "type": "string",
                        "description": "合约标识"
                      },
                      "last": {
                        "type": "string",
                        "description": "最新成交价"
                      },
                      "low_24h": {
                        "type": "string",
                        "description": "最近24小时最低价"
                      },
                      "high_24h": {
                        "type": "string",
                        "description": "最近24小时最高价"
                      },
                      "change_percentage": {
                        "type": "string",
                        "description": "涨跌百分比，跌用负数标识，如 -7.45"
                      },
                      "total_size": {
                        "type": "string",
                        "description": "当前合约总持仓量"
                      },
                      "volume_24h": {
                        "type": "string",
                        "description": "最近24小时成交总量"
                      },
                      "volume_24h_btc": {
                        "type": "string",
                        "description": "最近24小时成交总量，BTC单位(即将废弃，建议使用 volume_24h_base , volume_24h_quote , volume_24h_settle )"
                      },
                      "volume_24h_usd": {
                        "type": "string",
                        "description": "最近24小时成交总量，USD单位(即将废弃，建议使用 volume_24h_base , volume_24h_quote , volume_24h_settle )"
                      },
                      "volume_24h_base": {
                        "type": "string",
                        "description": "最近24小时成交量，以基础货币为单位"
                      },
                      "volume_24h_quote": {
                        "type": "string",
                        "description": "最近24小时成交量，以计价货币为单位"
                      },
                      "volume_24h_settle": {
                        "type": "string",
                        "description": "最近24小时成交量，以结算货币为单位"
                      },
                      "mark_price": {
                        "type": "string",
                        "description": "最近标记价格"
                      },
                      "funding_rate": {
                        "type": "string",
                        "description": "资金费率"
                      },
                      "funding_rate_indicative": {
                        "type": "string",
                        "description": "下一周期预测资金费率（已弃用，改用funding_rate）"
                      },
                      "index_price": {
                        "type": "string",
                        "description": "指数价格"
                      },
                      "highest_bid": {
                        "type": "string",
                        "description": "最新买方最高价"
                      },
                      "highest_size": {
                        "type": "string",
                        "description": "最新买方最高价的挂单量"
                      },
                      "lowest_ask": {
                        "type": "string",
                        "description": "最新卖方最低价"
                      },
                      "lowest_size": {
                        "type": "string",
                        "description": "最新卖方最低价的挂单量"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "contract": "BTC_USDT",
                    "last": "6432",
                    "low_24h": "6278",
                    "high_24h": "6790",
                    "change_percentage": "4.43",
                    "total_size": "32323904",
                    "volume_24h": "184040233284",
                    "volume_24h_btc": "28613220",
                    "volume_24h_usd": "184040233284",
                    "volume_24h_base": "28613220",
                    "volume_24h_quote": "184040233284",
                    "volume_24h_settle": "28613220",
                    "mark_price": "6534",
                    "funding_rate": "0.0001",
                    "funding_rate_indicative": "0.0001",
                    "index_price": "6531",
                    "highest_bid": "34089.7",
                    "highest_size": "100",
                    "lowest_ask": "34217.9",
                    "lowest_size": "1000"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/funding_rate": {
      "get": {
        "tags": [
          "行情"
        ],
        "operationId": "listDEXFuturesFundingRateHistory",
        "summary": "合约市场历史资金费率",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "列表返回的最大数量"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "起始时间戳"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "终止时间戳"
          }
        ],
        "responses": {
          "200": {
            "description": "历史查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "t": {
                        "type": "integer",
                        "format": "int64",
                        "description": "秒 s 精度的 Unix 时间戳"
                      },
                      "r": {
                        "type": "string",
                        "description": "资金费率"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "t": 1543968000,
                    "r": "0.000157"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/insurance": {
      "get": {
        "tags": [
          "行情"
        ],
        "operationId": "listDEXFuturesInsuranceLedger",
        "summary": "合约市场保险基金历史",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "列表返回的最大数量"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "t": {
                        "type": "integer",
                        "format": "int64",
                        "description": "秒 s 精度的 Unix 时间戳"
                      },
                      "b": {
                        "type": "string",
                        "description": "保险基金余额"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "t": 1543968000,
                    "b": "83.0031"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/contract_stats": {
      "get": {
        "tags": [
          "行情"
        ],
        "operationId": "listContractStats",
        "summary": "合约统计信息",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "开始时间戳"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "列表查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "integer",
                        "format": "int64",
                        "description": "统计时间"
                      },
                      "lsr_taker": {
                        "type": "number",
                        "format": "double",
                        "description": "多空吃单比"
                      },
                      "lsr_account": {
                        "type": "number",
                        "format": "double",
                        "description": "多空持仓用户比"
                      },
                      "long_liq_size": {
                        "type": "string",
                        "description": "做多爆仓量（张）"
                      },
                      "short_liq_size": {
                        "type": "string",
                        "description": "做空爆仓量（张）"
                      },
                      "open_interest": {
                        "type": "string",
                        "description": "总持仓量（张）"
                      },
                      "short_liq_usd": {
                        "type": "number",
                        "format": "double",
                        "description": "做空爆仓量（计价币种）"
                      },
                      "mark_price": {
                        "type": "number",
                        "format": "double",
                        "description": "标记价格"
                      },
                      "top_lsr_size": {
                        "type": "string",
                        "description": "大户多空持仓比"
                      },
                      "short_liq_amount": {
                        "type": "number",
                        "format": "double",
                        "description": "做空爆仓量（交易币种）"
                      },
                      "long_liq_amount": {
                        "type": "number",
                        "format": "double",
                        "description": "做多爆仓量（交易币种）"
                      },
                      "open_interest_usd": {
                        "type": "number",
                        "format": "double",
                        "description": "总持仓量（计价币种）"
                      },
                      "top_lsr_account": {
                        "type": "number",
                        "format": "double",
                        "description": "大户多空账户比"
                      },
                      "long_liq_usd": {
                        "type": "number",
                        "format": "double",
                        "description": "做多爆仓量（计价币种）"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "time": 1603865400,
                    "lsr_taker": 100,
                    "lsr_account": 0.5,
                    "long_liq_size": "0",
                    "short_liq_size": "0",
                    "open_interest": "124724",
                    "short_liq_usd": 0,
                    "mark_price": "8865",
                    "top_lsr_size": "1.02",
                    "short_liq_amount": 0,
                    "long_liq_amount": 0,
                    "open_interest_usd": 1511,
                    "top_lsr_account": 1.5,
                    "long_liq_usd": 0
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/index_constituents/{index}": {
      "get": {
        "tags": [
          "行情"
        ],
        "operationId": "getIndexConstituents",
        "summary": "查询指数来源",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "指数名称"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "index": {
                      "type": "string",
                      "description": "指数名称"
                    },
                    "constituents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "exchange": {
                            "type": "string",
                            "description": "交易所"
                          },
                          "symbols": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "交易对列表"
                          }
                        }
                      },
                      "description": "成分"
                    }
                  }
                },
                "example": {
                  "index": "BTC_USDT",
                  "constituents": [
                    {
                      "exchange": "Binance",
                      "symbols": [
                        "BTC_USDT"
                      ]
                    },
                    {
                      "exchange": "dexbuilder.com",
                      "symbols": [
                        "BTC_USDT"
                      ]
                    },
                    {
                      "exchange": "Huobi",
                      "symbols": [
                        "BTC_USDT"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/liq_orders": {
      "get": {
        "tags": [
          "行情"
        ],
        "operationId": "listLiquidatedOrders",
        "summary": "查询强平委托历史",
        "description": "from 和 to 的时间间隔最大为 3600。部分私有字段公共接口不会返回，具体参照字段描述",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "合约标识，如果指定则只返回该合约相关数据"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "起始时间戳"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "终止时间戳"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "列表返回的最大数量"
          }
        ],
        "responses": {
          "200": {
            "description": "列表查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "integer",
                        "format": "int64",
                        "description": "强制平仓时间"
                      },
                      "contract": {
                        "type": "string",
                        "description": "合约标识"
                      },
                      "size": {
                        "type": "string",
                        "description": "用户仓位大小"
                      },
                      "order_size": {
                        "type": "string",
                        "description": "强平委托数量"
                      },
                      "order_price": {
                        "type": "string",
                        "description": "强平委托价"
                      },
                      "fill_price": {
                        "type": "string",
                        "description": "强平委托吃单平均成交价"
                      },
                      "left": {
                        "type": "string",
                        "description": "系统强平委托挂单大小"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "time": 1548654951,
                    "contract": "BTC_USDT",
                    "size": "600",
                    "order_size": "-600",
                    "order_price": "3405",
                    "fill_price": "3424",
                    "left": "0"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/risk_limit_tiers": {
      "get": {
        "tags": [
          "行情"
        ],
        "operationId": "listDEXFuturesRiskLimitTiers",
        "summary": "查询风险限额等级",
        "description": "contract 参数不传,默认查询前 100 个市场的风险限额,limit 和 offset 对应市场维度的分页查询,不对应返回数组的长度,仅当 contract 参数为空时生效",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "合约标识，如果指定则只返回该合约相关数据"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "列表返回的最大数量"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "列表返回的偏移量，从 0 开始"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "maintenance_rate": {
                        "type": "string",
                        "description": "风险限额的第一档维持保证金率要求"
                      },
                      "tier": {
                        "type": "integer",
                        "description": "档位"
                      },
                      "initial_rate": {
                        "type": "string",
                        "description": "初始保证金率"
                      },
                      "leverage_max": {
                        "type": "string",
                        "description": "最大杠杆"
                      },
                      "risk_limit": {
                        "type": "string",
                        "description": "风险限额"
                      },
                      "contract": {
                        "type": "string",
                        "description": "市场,仅当市场分页请求时可见"
                      },
                      "deduction": {
                        "type": "string",
                        "description": "维持保证金速算扣减额"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "maintenance_rate": "0.01",
                    "tier": 1,
                    "initial_rate": "0.02",
                    "leverage_max": "50",
                    "risk_limit": "20000",
                    "contract": "ZTX_USDT",
                    "deduction": "0"
                  },
                  {
                    "maintenance_rate": "0.013",
                    "tier": 2,
                    "initial_rate": "0.025",
                    "leverage_max": "40",
                    "risk_limit": "30000",
                    "contract": "ZTX_USDT",
                    "deduction": "60"
                  },
                  {
                    "maintenance_rate": "0.015",
                    "tier": 3,
                    "initial_rate": "0.02857",
                    "leverage_max": "35",
                    "risk_limit": "50000",
                    "contract": "ZTX_USDT",
                    "deduction": "120"
                  },
                  {
                    "maintenance_rate": "0.02",
                    "tier": 4,
                    "initial_rate": "0.03333",
                    "leverage_max": "30",
                    "risk_limit": "70000",
                    "contract": "ZTX_USDT",
                    "deduction": "370"
                  },
                  {
                    "maintenance_rate": "0.025",
                    "tier": 5,
                    "initial_rate": "0.04",
                    "leverage_max": "25",
                    "risk_limit": "100000",
                    "contract": "ZTX_USDT",
                    "deduction": "720"
                  }
                ]
              }
            }
          }
        },
        "security": []
      }
    },
    "/dex_futures/{settle}/accounts": {
      "get": {
        "tags": [
          "账户"
        ],
        "operationId": "listDEXFuturesAccounts",
        "summary": "获取合约账号",
        "description": "该接口支持查询经典合约账户和统一账户的合约业务相关信息",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "integer"
                    },
                    "currency": {
                      "type": "string",
                      "description": "结算币种"
                    },
                    "total": {
                      "type": "string",
                      "description": "钱包余额，只适用于经典合约账户。钱包余额为所有历史已发生的资金流水之和，包括历史转入转出、平仓结算、手续费支出等，不包含仓位的未实现盈亏。total = SUM(history_dnw, history_pnl, history_fee, history_refr, history_fund)"
                    },
                    "unrealised_pnl": {
                      "type": "string",
                      "description": "未实现盈亏"
                    },
                    "position_margin": {
                      "type": "string",
                      "description": "已废弃"
                    },
                    "order_margin": {
                      "type": "string",
                      "description": "所有未完成订单的起始保证金"
                    },
                    "available": {
                      "type": "string",
                      "description": "指的是逐仓可用的转出或交易的额度，统一账户下包含授信额度的逐仓可用额度(有包含体验金,体验金无法转出,所以要转出,转出金额需要扣除体验金)"
                    },
                    "point": {
                      "type": "string",
                      "description": "点卡数额"
                    },
                    "bonus": {
                      "type": "string",
                      "description": "体验金"
                    },
                    "in_dual_mode": {
                      "type": "boolean",
                      "description": "是否为双向持仓模式"
                    },
                    "enable_evolved_classic": {
                      "type": "boolean",
                      "description": "已废弃"
                    },
                    "cross_initial_margin": {
                      "type": "string",
                      "description": "全仓初始保证金，适用于新经典账户保证金模式"
                    },
                    "cross_maintenance_margin": {
                      "type": "string",
                      "description": "全仓维持保证金，适用于新经典账户保证金模式"
                    },
                    "cross_order_margin": {
                      "type": "string",
                      "description": "全仓挂单保证金，适用于新经典账户保证金模式"
                    },
                    "cross_unrealised_pnl": {
                      "type": "string",
                      "description": "全仓未实现盈亏，适用于新经典账户保证金模式"
                    },
                    "cross_available": {
                      "type": "string",
                      "description": "全仓可用额度，适用于新经典账户保证金模式"
                    },
                    "cross_margin_balance": {
                      "type": "string",
                      "description": "全仓保证金余额，适用于新经典账户保证金模式"
                    },
                    "cross_mmr": {
                      "type": "string",
                      "description": "全仓维持保证金率，适用于新经典账户保证金模式"
                    },
                    "cross_imr": {
                      "type": "string",
                      "description": "全仓初始保证金率，适用于新经典账户保证金模式"
                    },
                    "isolated_position_margin": {
                      "type": "string",
                      "description": "逐仓仓位保证金，适用于新经典账户保证金模式"
                    },
                    "history": {
                      "type": "object",
                      "properties": {
                        "dnw": {
                          "type": "string",
                          "description": "累计转入转出"
                        },
                        "pnl": {
                          "type": "string",
                          "description": "累计交易盈亏"
                        },
                        "fee": {
                          "type": "string",
                          "description": "累计手续费"
                        },
                        "refr": {
                          "type": "string",
                          "description": "累计获取的推荐人返佣"
                        },
                        "fund": {
                          "type": "string",
                          "description": "累计资金费用"
                        },
                        "point_dnw": {
                          "type": "string",
                          "description": "累计点卡转入转出"
                        },
                        "point_fee": {
                          "type": "string",
                          "description": "累计点卡抵扣手续费"
                        },
                        "point_refr": {
                          "type": "string",
                          "description": "累计获取的点卡推荐人返佣"
                        },
                        "bonus_dnw": {
                          "type": "string",
                          "description": "累计体验金转入转出"
                        },
                        "bonus_offset": {
                          "type": "string",
                          "description": "累计体验金抵扣"
                        }
                      },
                      "description": "累计统计数据"
                    },
                    "enable_tiered_mm": {
                      "type": "boolean",
                      "description": "是否开启梯度式计算维持保证金"
                    }
                  }
                },
                "example": {
                  "user": 1666,
                  "currency": "USDT",
                  "total": "9707.803567115145",
                  "unrealised_pnl": "3371.248828",
                  "position_margin": "38.712189181",
                  "order_margin": "0",
                  "available": "9669.091377934145",
                  "point": "0",
                  "bonus": "0",
                  "in_dual_mode": false,
                  "enable_evolved_classic": false,
                  "cross_initial_margin": "61855.56788525",
                  "cross_maintenance_margin": "682.04678105",
                  "cross_order_margin": "0",
                  "cross_unrealised_pnl": "1501.178222634128",
                  "cross_available": "27549.406108813951",
                  "cross_margin_balance": "10371.77306201952",
                  "cross_mmr": "797.2134",
                  "cross_imr": "116.6097",
                  "isolated_position_margin": "0",
                  "history": {
                    "dnw": "10000",
                    "pnl": "68.3685",
                    "fee": "-1.645812875",
                    "refr": "0",
                    "fund": "-358.919120009855",
                    "point_dnw": "0",
                    "point_fee": "0",
                    "point_refr": "0",
                    "bonus_dnw": "0",
                    "bonus_offset": "0"
                  },
                  "enable_tiered_mm": true
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/account_book": {
      "get": {
        "tags": [
          "账户"
        ],
        "operationId": "listDEXFuturesAccountBook",
        "summary": "查询合约账户变更历史",
        "description": "如果传入 contract 字段，只能筛选2023-10-30后包含该字段的记录。",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "合约标识，如果指定则只返回该合约相关数据"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "列表返回的最大数量"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "列表返回的偏移量，从 0 开始"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "起始时间戳"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "终止时间戳"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "变更类型："
          }
        ],
        "responses": {
          "200": {
            "description": "列表查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "number",
                        "format": "double",
                        "description": "时间"
                      },
                      "change": {
                        "type": "string",
                        "description": "变更金额"
                      },
                      "balance": {
                        "type": "string",
                        "description": "变更后账户余额"
                      },
                      "text": {
                        "type": "string",
                        "description": "注释"
                      },
                      "type": {
                        "type": "string",
                        "description": "变更类型： - dnw: 转入转出 - pnl: 减仓盈亏 - fee: 交易手续费 - refr: 推荐人返佣 - fund: 资金费用 - point_dnw: 点卡转入转出 - point_fee: 点卡交易手续费 - point_refr: 点卡推荐人返佣 - bonus_offset: 体验金抵扣"
                      },
                      "contract": {
                        "type": "string",
                        "description": "合约标识，只有2023-10-30后的数据才有该字段"
                      },
                      "trade_id": {
                        "type": "string",
                        "description": "成交 id"
                      },
                      "id": {
                        "type": "string",
                        "description": "账户变更记录 id"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "time": 1682294400.123456,
                    "change": "0.000010152188",
                    "balance": "4.59316525194",
                    "text": "ETH_USD:6086261",
                    "type": "fee",
                    "contract": "ETH_USD",
                    "trade_id": "1",
                    "id": "1"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/positions": {
      "get": {
        "tags": [
          "仓位"
        ],
        "operationId": "listPositions",
        "summary": "获取用户仓位列表",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "holding",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "只返回真实持仓-true,全部返回-false"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "列表返回的最大数量"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "列表返回的偏移量，从 0 开始"
          }
        ],
        "responses": {
          "200": {
            "description": "列表查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                },
                "example": [
                  {
                    "user": 10000,
                    "contract": "BTC_USDT",
                    "size": "-9440",
                    "leverage": "0",
                    "risk_limit": "100",
                    "leverage_max": "100",
                    "maintenance_rate": "0.005",
                    "value": "3568.62",
                    "margin": "4.431548146258",
                    "entry_price": "3779.55",
                    "liq_price": "99999999",
                    "mark_price": "3780.32",
                    "unrealised_pnl": "-0.000507486844",
                    "realised_pnl": "0.045543982432",
                    "pnl_pnl": "0.045543982432",
                    "pnl_fund": "0",
                    "pnl_fee": "0",
                    "history_pnl": "0",
                    "last_close_pnl": "0",
                    "realised_point": "0",
                    "history_point": "0",
                    "adl_ranking": 5,
                    "pending_orders": 16,
                    "close_order": {
                      "id": 232323,
                      "price": "3779",
                      "is_liq": false
                    },
                    "mode": "single",
                    "update_time": 1684994406,
                    "update_id": 1,
                    "cross_leverage_limit": "0",
                    "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                    "average_maintenance_rate": "0.005"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/positions/{contract}": {
      "get": {
        "tags": [
          "仓位"
        ],
        "operationId": "getPosition",
        "summary": "获取单个仓位信息",
        "description": "获取指定合约市场下的仓位信息。如果您在一个合约市场下持有双向的两个仓位，请使用此接口：/dex_futures/{settle}/dual_comp/positions/{contract}",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          }
        ],
        "responses": {
          "200": {
            "description": "仓位信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Position"
                },
                "example": {
                  "user": 10000,
                  "contract": "BTC_USDT",
                  "size": "-9440",
                  "leverage": "0",
                  "risk_limit": "100",
                  "leverage_max": "100",
                  "maintenance_rate": "0.005",
                  "value": "3568.62",
                  "margin": "4.431548146258",
                  "entry_price": "3779.55",
                  "liq_price": "99999999",
                  "mark_price": "3780.32",
                  "unrealised_pnl": "-0.000507486844",
                  "realised_pnl": "0.045543982432",
                  "pnl_pnl": "0.045543982432",
                  "pnl_fund": "0",
                  "pnl_fee": "0",
                  "history_pnl": "0",
                  "last_close_pnl": "0",
                  "realised_point": "0",
                  "history_point": "0",
                  "adl_ranking": 5,
                  "pending_orders": 16,
                  "close_order": {
                    "id": 232323,
                    "price": "3779",
                    "is_liq": false
                  },
                  "mode": "single",
                  "update_time": 1684994406,
                  "update_id": 1,
                  "cross_leverage_limit": "0",
                  "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                  "average_maintenance_rate": "0.005"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/positions/{contract}/margin": {
      "post": {
        "tags": [
          "仓位"
        ],
        "operationId": "updatePositionMargin",
        "summary": "更新仓位保证金",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          },
          {
            "name": "change",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "保证金变化数额，正数增加，负数减少"
          }
        ],
        "responses": {
          "200": {
            "description": "仓位信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Position"
                },
                "example": {
                  "user": 10000,
                  "contract": "BTC_USDT",
                  "size": "-9440",
                  "leverage": "0",
                  "risk_limit": "100",
                  "leverage_max": "100",
                  "maintenance_rate": "0.005",
                  "value": "3568.62",
                  "margin": "4.431548146258",
                  "entry_price": "3779.55",
                  "liq_price": "99999999",
                  "mark_price": "3780.32",
                  "unrealised_pnl": "-0.000507486844",
                  "realised_pnl": "0.045543982432",
                  "pnl_pnl": "0.045543982432",
                  "pnl_fund": "0",
                  "pnl_fee": "0",
                  "history_pnl": "0",
                  "last_close_pnl": "0",
                  "realised_point": "0",
                  "history_point": "0",
                  "adl_ranking": 5,
                  "pending_orders": 16,
                  "close_order": {
                    "id": 232323,
                    "price": "3779",
                    "is_liq": false
                  },
                  "mode": "single",
                  "update_time": 1684994406,
                  "update_id": 1,
                  "cross_leverage_limit": "0",
                  "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                  "average_maintenance_rate": "0.005"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/positions/{contract}/leverage": {
      "post": {
        "tags": [
          "仓位"
        ],
        "operationId": "updatePositionLeverage",
        "summary": "更新仓位杠杆",
        "description": "⚠️ 仓位模式切换规则：\n- leverage ≠ 0：逐仓模式（无论是否填写 cross_leverage_limit，该参数都会被忽略）\n- leverage = 0：全仓模式（使用 cross_leverage_limit 设置杠杆倍数）\n示例：\n- 设置逐仓 10 倍杠杆：leverage=10\n- 设置全仓 10 倍杠杆：leverage=0&cross_leverage_limit=10\n- leverage=5&cross_leverage_limit=10 → 结果为逐仓 5 倍（cross_leverage_limit 被忽略）\n⚠️ 警告：错误设置可能导致仓位模式意外切换，影响风险管理。",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          },
          {
            "name": "leverage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "该字段用于设置逐仓的杠杆倍数，且设置逐仓杠杆倍数时需要“cross_leverage_limit”字段设置为空"
          },
          {
            "name": "cross_leverage_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "该字段用于设置全仓的杠杆倍数，且设置全仓杠杆倍数时需同时将“leverage”字段设置为0"
          },
          {
            "name": "pid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "产品ID"
          }
        ],
        "responses": {
          "200": {
            "description": "仓位信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Position"
                },
                "example": {
                  "user": 10000,
                  "contract": "BTC_USDT",
                  "size": "-9440",
                  "leverage": "0",
                  "risk_limit": "100",
                  "leverage_max": "100",
                  "maintenance_rate": "0.005",
                  "value": "3568.62",
                  "margin": "4.431548146258",
                  "entry_price": "3779.55",
                  "liq_price": "99999999",
                  "mark_price": "3780.32",
                  "unrealised_pnl": "-0.000507486844",
                  "realised_pnl": "0.045543982432",
                  "pnl_pnl": "0.045543982432",
                  "pnl_fund": "0",
                  "pnl_fee": "0",
                  "history_pnl": "0",
                  "last_close_pnl": "0",
                  "realised_point": "0",
                  "history_point": "0",
                  "adl_ranking": 5,
                  "pending_orders": 16,
                  "close_order": {
                    "id": 232323,
                    "price": "3779",
                    "is_liq": false
                  },
                  "mode": "single",
                  "update_time": 1684994406,
                  "update_id": 1,
                  "cross_leverage_limit": "0",
                  "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                  "average_maintenance_rate": "0.005"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/positions/cross_mode": {
      "post": {
        "tags": [
          "仓位"
        ],
        "operationId": "updatePositionCrossMode",
        "summary": "切换全逐仓模式",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "description": "Cross margin or isolated margin mode. ISOLATED - isolated margin mode, CROSS - cross margin mode"
                  },
                  "contract": {
                    "type": "string",
                    "description": "Perp market"
                  }
                },
                "required": [
                  "mode",
                  "contract"
                ]
              },
              "example": {
                "mode": "ISOLATED",
                "contract": "BTC_USDT"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "仓位信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Position"
                },
                "example": {
                  "user": 10000,
                  "contract": "BTC_USDT",
                  "size": "-9440",
                  "leverage": "0",
                  "risk_limit": "100",
                  "leverage_max": "100",
                  "maintenance_rate": "0.005",
                  "value": "3568.62",
                  "margin": "4.431548146258",
                  "entry_price": "3779.55",
                  "liq_price": "99999999",
                  "mark_price": "3780.32",
                  "unrealised_pnl": "-0.000507486844",
                  "realised_pnl": "0.045543982432",
                  "pnl_pnl": "0.045543982432",
                  "pnl_fund": "0",
                  "pnl_fee": "0",
                  "history_pnl": "0",
                  "last_close_pnl": "0",
                  "realised_point": "0",
                  "history_point": "0",
                  "adl_ranking": 5,
                  "pending_orders": 16,
                  "close_order": {
                    "id": 232323,
                    "price": "3779",
                    "is_liq": false
                  },
                  "mode": "single",
                  "update_time": 1684994406,
                  "update_id": 1,
                  "cross_leverage_limit": "0",
                  "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                  "average_maintenance_rate": "0.005"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/dual_comp/positions/cross_mode": {
      "post": {
        "tags": [
          "仓位"
        ],
        "operationId": "updateDualCompPositionCrossMode",
        "summary": "双仓模式下切换全逐仓模式",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "description": "Cross margin or isolated margin mode. ISOLATED - isolated margin mode, CROSS - cross margin mode"
                  },
                  "contract": {
                    "type": "string",
                    "description": "Perp market"
                  }
                },
                "required": [
                  "mode",
                  "contract"
                ]
              },
              "example": {
                "mode": "ISOLATED",
                "contract": "BTC_USDT"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                },
                "example": [
                  {
                    "user": 10000,
                    "contract": "BTC_USDT",
                    "size": "-9440",
                    "leverage": "0",
                    "risk_limit": "100",
                    "leverage_max": "100",
                    "maintenance_rate": "0.005",
                    "value": "3568.62",
                    "margin": "4.431548146258",
                    "entry_price": "3779.55",
                    "liq_price": "99999999",
                    "mark_price": "3780.32",
                    "unrealised_pnl": "-0.000507486844",
                    "realised_pnl": "0.045543982432",
                    "pnl_pnl": "0.045543982432",
                    "pnl_fund": "0",
                    "pnl_fee": "0",
                    "history_pnl": "0",
                    "last_close_pnl": "0",
                    "realised_point": "0",
                    "history_point": "0",
                    "adl_ranking": 5,
                    "pending_orders": 16,
                    "close_order": {
                      "id": 232323,
                      "price": "3779",
                      "is_liq": false
                    },
                    "mode": "single",
                    "update_time": 1684994406,
                    "update_id": 1,
                    "cross_leverage_limit": "0",
                    "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                    "average_maintenance_rate": "0.005"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/positions/{contract}/risk_limit": {
      "post": {
        "tags": [
          "仓位"
        ],
        "operationId": "updatePositionRiskLimit",
        "summary": "更新仓位风险限额",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          },
          {
            "name": "risk_limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "新的风险限额价值"
          }
        ],
        "responses": {
          "200": {
            "description": "仓位信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Position"
                },
                "example": {
                  "user": 10000,
                  "contract": "BTC_USDT",
                  "size": "-9440",
                  "leverage": "0",
                  "risk_limit": "100",
                  "leverage_max": "100",
                  "maintenance_rate": "0.005",
                  "value": "3568.62",
                  "margin": "4.431548146258",
                  "entry_price": "3779.55",
                  "liq_price": "99999999",
                  "mark_price": "3780.32",
                  "unrealised_pnl": "-0.000507486844",
                  "realised_pnl": "0.045543982432",
                  "pnl_pnl": "0.045543982432",
                  "pnl_fund": "0",
                  "pnl_fee": "0",
                  "history_pnl": "0",
                  "last_close_pnl": "0",
                  "realised_point": "0",
                  "history_point": "0",
                  "adl_ranking": 5,
                  "pending_orders": 16,
                  "close_order": {
                    "id": 232323,
                    "price": "3779",
                    "is_liq": false
                  },
                  "mode": "single",
                  "update_time": 1684994406,
                  "update_id": 1,
                  "cross_leverage_limit": "0",
                  "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                  "average_maintenance_rate": "0.005"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/dual_mode": {
      "post": {
        "tags": [
          "仓位"
        ],
        "operationId": "setDualMode",
        "summary": "设置持仓模式",
        "description": "变更模式的前提是，所有仓位没有持仓，并且没有挂单",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "dual_mode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "description": "是否设置为双向持仓"
          }
        ],
        "responses": {
          "200": {
            "description": "修改成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "integer"
                    },
                    "currency": {
                      "type": "string",
                      "description": "结算币种"
                    },
                    "total": {
                      "type": "string",
                      "description": "钱包余额，只适用于经典合约账户。钱包余额为所有历史已发生的资金流水之和，包括历史转入转出、平仓结算、手续费支出等，不包含仓位的未实现盈亏。total = SUM(history_dnw, history_pnl, history_fee, history_refr, history_fund)"
                    },
                    "unrealised_pnl": {
                      "type": "string",
                      "description": "未实现盈亏"
                    },
                    "position_margin": {
                      "type": "string",
                      "description": "已废弃"
                    },
                    "order_margin": {
                      "type": "string",
                      "description": "所有未完成订单的起始保证金"
                    },
                    "available": {
                      "type": "string",
                      "description": "指的是逐仓可用的转出或交易的额度，统一账户下包含授信额度的逐仓可用额度(有包含体验金,体验金无法转出,所以要转出,转出金额需要扣除体验金)"
                    },
                    "point": {
                      "type": "string",
                      "description": "点卡数额"
                    },
                    "bonus": {
                      "type": "string",
                      "description": "体验金"
                    },
                    "in_dual_mode": {
                      "type": "boolean",
                      "description": "是否为双向持仓模式"
                    },
                    "enable_evolved_classic": {
                      "type": "boolean",
                      "description": "已废弃"
                    },
                    "cross_initial_margin": {
                      "type": "string",
                      "description": "全仓初始保证金，适用于新经典账户保证金模式"
                    },
                    "cross_maintenance_margin": {
                      "type": "string",
                      "description": "全仓维持保证金，适用于新经典账户保证金模式"
                    },
                    "cross_order_margin": {
                      "type": "string",
                      "description": "全仓挂单保证金，适用于新经典账户保证金模式"
                    },
                    "cross_unrealised_pnl": {
                      "type": "string",
                      "description": "全仓未实现盈亏，适用于新经典账户保证金模式"
                    },
                    "cross_available": {
                      "type": "string",
                      "description": "全仓可用额度，适用于新经典账户保证金模式"
                    },
                    "cross_margin_balance": {
                      "type": "string",
                      "description": "全仓保证金余额，适用于新经典账户保证金模式"
                    },
                    "cross_mmr": {
                      "type": "string",
                      "description": "全仓维持保证金率，适用于新经典账户保证金模式"
                    },
                    "cross_imr": {
                      "type": "string",
                      "description": "全仓初始保证金率，适用于新经典账户保证金模式"
                    },
                    "isolated_position_margin": {
                      "type": "string",
                      "description": "逐仓仓位保证金，适用于新经典账户保证金模式"
                    },
                    "history": {
                      "type": "object",
                      "properties": {
                        "dnw": {
                          "type": "string",
                          "description": "累计转入转出"
                        },
                        "pnl": {
                          "type": "string",
                          "description": "累计交易盈亏"
                        },
                        "fee": {
                          "type": "string",
                          "description": "累计手续费"
                        },
                        "refr": {
                          "type": "string",
                          "description": "累计获取的推荐人返佣"
                        },
                        "fund": {
                          "type": "string",
                          "description": "累计资金费用"
                        },
                        "point_dnw": {
                          "type": "string",
                          "description": "累计点卡转入转出"
                        },
                        "point_fee": {
                          "type": "string",
                          "description": "累计点卡抵扣手续费"
                        },
                        "point_refr": {
                          "type": "string",
                          "description": "累计获取的点卡推荐人返佣"
                        },
                        "bonus_dnw": {
                          "type": "string",
                          "description": "累计体验金转入转出"
                        },
                        "bonus_offset": {
                          "type": "string",
                          "description": "累计体验金抵扣"
                        }
                      },
                      "description": "累计统计数据"
                    },
                    "enable_tiered_mm": {
                      "type": "boolean",
                      "description": "是否开启梯度式计算维持保证金"
                    }
                  }
                },
                "example": {
                  "user": 1666,
                  "currency": "USDT",
                  "total": "9707.803567115145",
                  "unrealised_pnl": "3371.248828",
                  "position_margin": "38.712189181",
                  "order_margin": "0",
                  "available": "9669.091377934145",
                  "point": "0",
                  "bonus": "0",
                  "in_dual_mode": false,
                  "enable_evolved_classic": false,
                  "cross_initial_margin": "61855.56788525",
                  "cross_maintenance_margin": "682.04678105",
                  "cross_order_margin": "0",
                  "cross_unrealised_pnl": "1501.178222634128",
                  "cross_available": "27549.406108813951",
                  "cross_margin_balance": "10371.77306201952",
                  "cross_mmr": "797.2134",
                  "cross_imr": "116.6097",
                  "isolated_position_margin": "0",
                  "history": {
                    "dnw": "10000",
                    "pnl": "68.3685",
                    "fee": "-1.645812875",
                    "refr": "0",
                    "fund": "-358.919120009855",
                    "point_dnw": "0",
                    "point_fee": "0",
                    "point_refr": "0",
                    "bonus_dnw": "0",
                    "bonus_offset": "0"
                  },
                  "enable_tiered_mm": true
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/dual_comp/positions/{contract}": {
      "get": {
        "tags": [
          "仓位"
        ],
        "operationId": "getDualModePosition",
        "summary": "获取双仓模式下的持仓信息",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                },
                "example": [
                  {
                    "user": 10000,
                    "contract": "BTC_USDT",
                    "size": "-9440",
                    "leverage": "0",
                    "risk_limit": "100",
                    "leverage_max": "100",
                    "maintenance_rate": "0.005",
                    "value": "3568.62",
                    "margin": "4.431548146258",
                    "entry_price": "3779.55",
                    "liq_price": "99999999",
                    "mark_price": "3780.32",
                    "unrealised_pnl": "-0.000507486844",
                    "realised_pnl": "0.045543982432",
                    "pnl_pnl": "0.045543982432",
                    "pnl_fund": "0",
                    "pnl_fee": "0",
                    "history_pnl": "0",
                    "last_close_pnl": "0",
                    "realised_point": "0",
                    "history_point": "0",
                    "adl_ranking": 5,
                    "pending_orders": 16,
                    "close_order": {
                      "id": 232323,
                      "price": "3779",
                      "is_liq": false
                    },
                    "mode": "single",
                    "update_time": 1684994406,
                    "update_id": 1,
                    "cross_leverage_limit": "0",
                    "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                    "average_maintenance_rate": "0.005"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/dual_comp/positions/{contract}/margin": {
      "post": {
        "tags": [
          "仓位"
        ],
        "operationId": "updateDualModePositionMargin",
        "summary": "更新双仓模式下的保证金",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          },
          {
            "name": "change",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "保证金变化数额，正数增加，负数减少"
          },
          {
            "name": "dual_side",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "多头或空头仓位"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                },
                "example": [
                  {
                    "user": 10000,
                    "contract": "BTC_USDT",
                    "size": "-9440",
                    "leverage": "0",
                    "risk_limit": "100",
                    "leverage_max": "100",
                    "maintenance_rate": "0.005",
                    "value": "3568.62",
                    "margin": "4.431548146258",
                    "entry_price": "3779.55",
                    "liq_price": "99999999",
                    "mark_price": "3780.32",
                    "unrealised_pnl": "-0.000507486844",
                    "realised_pnl": "0.045543982432",
                    "pnl_pnl": "0.045543982432",
                    "pnl_fund": "0",
                    "pnl_fee": "0",
                    "history_pnl": "0",
                    "last_close_pnl": "0",
                    "realised_point": "0",
                    "history_point": "0",
                    "adl_ranking": 5,
                    "pending_orders": 16,
                    "close_order": {
                      "id": 232323,
                      "price": "3779",
                      "is_liq": false
                    },
                    "mode": "single",
                    "update_time": 1684994406,
                    "update_id": 1,
                    "cross_leverage_limit": "0",
                    "risk_limit_table": "BIG_HOT_COIN_50X_V2",
                    "average_maintenance_rate": "0.005"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [],
            "Timestamp": [],
            "Signature": []
          }
        ]
      }
    },
    "/dex_futures/{settle}/dual_comp/positions/{contract}/leverage": {
      "post": {
        "tags": [
          "仓位"
        ],
        "operationId": "updateDualModePositionLeverage",
        "summary": "更新双仓模式下的杠杆",
        "parameters": [
          {
            "name": "settle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "usdt"
              ]
            },
            "description": "结算货币"
          },
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "合约标识"
          },
          {
            "name": "leverage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "新的杠杆倍数"
          },
          {
            "name": "cross_leverage_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "全仓模式下的杠杆倍数（即 leverage 为 0 时）"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                },
                "example": [
                  {
                    "user": 10000,
                    "contract": "BTC_USDT",
                    "size": "-9440",
                    "leverage": "0",
                    "risk_limit": "100",
                    "leverage_max": "100",
                    "maintenance_rate": "0.005",
                    "value": "3568.62",
                    "margin": "4.431548146258",
                    "entry_price": "3779.55",
                    "liq_price": "99999999",
                    "mark_price": "3780.32",
                    "unrealised_pnl": "-0.000507486844",
                    "realised_pnl": "0.045543982432",
                    "pnl_pnl": "0.045543982432",
                    "pnl_fund": "0",
                    "pnl_fee": "0",
[...]
